<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
    

    <title>Sito Recensioni</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <div class="container-md" >
        <br>
        <center><h1 class="titolo">REViO</h1></center>
        <br><br>
        <div class="card formCard" style="margin-left: 10%; margin-right: 10%;">
            <div class="card-header" style="background-color: #003c70;">
                <br>
                <center><h1 class="formTitle">Scrivi qui la tua recensione!</h1></center>
                <br>
            </div>
            <div class="card-body">
                <form action="/submitReview" method="POST">
                    <div class="mb-3">
                      <label for="InputUsername" class="form-label"><h4>Nome utente</h4></label>
                      <input type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" name="username">
                    </div>
                    <div class="mb-3">
                      <label for="InputProductName" class="form-label"><h4>Nome prodotto</h4></label>
                      <input type="text" class="form-control" id="InputProductName" name="productName">
                    </div>
                    <div class="mb-3">
                        <label for="InputReviewText" class="form-label"><h4>Testo recensione</h4></label>
                        <textarea class="form-control" id="InputReviewText" name="reviewText"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="InputRating" class="form-label"><h4>Punteggio</h4></label>
                        <input type="number" class="form-control" id="InputRating" name="rating" min="0" max="10">
                    </div>
                    <button type="submit" class="btn btn-primary">Invia</button>
                  </form>
            </div>
        </div>


        <div class="card reviewCard" style="display: none; margin-top: 5%;" id="cardTemplate">
            <div class="card-header text-bg-secondary">
                <p>username</p>
                <p>0</p>
            </div>
            <div class="card-body">
                <h5 class="card-title prodotto">productName</h5>
                <p class="card-text">reviewText</p>
                <button onclick="setLike(this.id)" class="btn btn-primary" checked="false">
                    <div>👍</div>
                    <div>0</div>
                </button>
                <button onclick="setDislike(this.id)" class="btn btn-primary " checked="false">
                    <div>👎</div>
                    <div>0</div>
                </button>
            </div>
            
        </div>
    

    <div id="cardContainer" style="margin-left: 10%; margin-right: 10%;"></div>
    <br><br>
    <center>
        <button class="btn btn-primary" id="previousPage"><-</button>
        <p class="badge bg-secondary text-wrap" id="pageNumber" style="display: inline">1</p>
        <button class="btn btn-primary" id="nextPage">-></button>

    </center>
    <br><br>

</div>
    
    
</body>
<script>
    let rowCount = parseInt('{{count}}');
    let startRow = 1;
    let pageNumber = 1;
    let numberofPages = parseInt(parseInt('{{count}}')/10);
    let rowsOnLastPage = parseInt('{{count}}')%10;
    if(rowsOnLastPage!=0)
    {
        numberofPages++;
    }
    const cardContainer = document.getElementById("cardContainer");
    document.getElementById("nextPage").onclick = function()
    {
        if(pageNumber+1 < numberofPages)
        {
            cardContainer.innerHTML = "";
            getReviews(pageNumber*10+1, 10);
            pageNumber++;
        }
        else if (pageNumber+1 == numberofPages)
        {
            cardContainer.innerHTML = "";
            getReviews(pageNumber*10+1, rowsOnLastPage)
            pageNumber++;
        }
        window.scrollTo(0, 0);
        document.getElementById("pageNumber").innerHTML = pageNumber;

    };
    document.getElementById("previousPage").onclick = function()
    {
        if(pageNumber-1!=0)
        {
            cardContainer.innerHTML = "";
            pageNumber--;
            getReviews(pageNumber-1*10, 10);
        }
        window.scrollTo(0, 0);
        document.getElementById("pageNumber").innerHTML = pageNumber;
    };
    function setLike(id)
    {
        const cardId = parseInt(id)-(10*(pageNumber-1))-1;
        console.log(cardId)
        const card = cardContainer.childNodes[cardId];
        const cardLikeButton = card.childNodes[3].childNodes[5];
        const cardDislikeButton = card.childNodes[3].childNodes[7];
        if(cardDislikeButton.getAttribute("checked")=="false")
        {
            setValue(cardLikeButton, "/changeLike", id)
        }
        
    }
    function setDislike(id)
    {
        const cardId = parseInt(id)-(10*(pageNumber-1))-1;
        const card = cardContainer.childNodes[cardId];
        const cardLikeButton = card.childNodes[3].childNodes[5];
        const cardDislikeButton = card.childNodes[3].childNodes[7];
        if(cardLikeButton.getAttribute("checked")=="false")
        {
            setValue(cardDislikeButton, "/changeDislike", id)
        }
    }
    function getReviews(startRow, rowCount)
    {
        const url = '/fetchReview?rowCount='+rowCount+'&startRow='+startRow;
        const cardTemplate = document.getElementById("cardTemplate").cloneNode(true);
        cardTemplate.style.display = "block";
        //get JSON (https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript)     
           
        console.log(url)
        var obj;
        fetch(url)
        .then(res => res.json())
        .then(out => obj = out)
        .then(function(obj)
        {
            console.log(obj)
            obj.forEach(function(row) {
                const tempNode = cardTemplate.cloneNode(true);
                tempNode.removeAttribute("id");
                tempNode.childNodes[1].childNodes[1].innerHTML = row[2];
                tempNode.childNodes[1].childNodes[3].innerHTML = "<img src=/static/img/rating/"+row[5]+".png height='20'>"; //rating
                tempNode.childNodes[3].childNodes[1].innerHTML = row[1];
                tempNode.childNodes[3].childNodes[3].innerHTML = row[4];
                tempNode.childNodes[3].childNodes[5].setAttribute("id", row[0]);
                tempNode.childNodes[3].childNodes[7].setAttribute("id", row[0]);
                tempNode.childNodes[3].childNodes[5].childNodes[3].innerHTML = row[6];
                tempNode.childNodes[3].childNodes[7].childNodes[3].innerHTML = row[7];
                tempNode.setAttribute("id",  row[0]);
                cardContainer.appendChild(tempNode);

            });
        });
        console.log(startRow);
    }


    function setValue(button, urlEndpoint, id)
    {
        let url = '';
        
        if(button.getAttribute("checked")=="true")
        {
            url = urlEndpoint+'?id='+id+'&increment=false';
        }
        else if(button.getAttribute("checked")=="false")
        {
            url = urlEndpoint+'?id='+id+'&increment=true';
        }
        var obj;

        fetch(url)
        .then(res => res.json())
        .then(out => obj = out)
        .then(function(obj)
        {
            if(obj)
            {
                button.childNodes[3].innerHTML=parseInt(button.childNodes[3].innerHTML)+1;
                button.setAttribute("checked", true);
                button.classList.remove('btn-primary');
                button.classList.add('btn-success');
            }
            else
            {                
                if(button.innerHTML!="0")
                {
                    button.childNodes[3].innerHTML=parseInt(button.childNodes[3].innerHTML)-1;
                }
                button.setAttribute("checked", false);
                button.classList.remove('btn-success');
                button.classList.add('btn-primary');
            }
        });
    }
    if(numberofPages>1)
    {
        getReviews(startRow,10);
        pageNumber = 1;
    }
    else
    {
        getReviews(0,rowsOnLastPage);
    }
    </script>
</html>