body
{
    background-image: url("/static/img/why.png");
    background-repeat: no-repeat;
    background-size: 600%;
}
.formTitle
{
    color: white;
}
.reviewCard
{
    box-shadow: 10px 10px;
}
.formCard
{
    /* box-shadow: 10px 10px 50px #0156a0; */
    box-shadow: 10px 10px;

}
